# OS / editors
.DS_Store
Thumbs.db
.vscode/
.ipynb_checkpoints/

# Python artifacts
__pycache__/
*.pyc
.venv/
.env
.envrc

# -----------------------------
# Notebooks: ignore by default
# -----------------------------
notebooks/*
!notebooks/.gitkeep
# Whitelist 00_ElectricityDemand_DomainResearch:
!notebooks/00_ElectricityDemand_DomainResearch.ipynb
# Whitelist 01_OPSD_EDA.ipynb:
!notebooks/01_OPSD_EDA.ipynb
# Whitelist 02_HolidaysAndSchoolFreeDays.ipynb:
!notebooks/02_HolidaysAndSchoolFreeDays.ipynb
# Whitelist 03_Weather_historic.ipynb:
!notebooks/03_Weather_historic.ipynb

# ---------------------------------------
# Data: ignore raw/processed by default
# ---------------------------------------
data/raw/*
!data/raw/.gitkeep
# Whitelist dummie for later on:
# !data/raw/allowed_small.csv
# !data/raw/curated/
# !data/raw/curated/**

data/processed/*
!data/processed/.gitkeep
!data/processed/DE_hol_df.parquet
!data/processed/OPSD_60min_de_lu_df.parquet
# Whitelist dummies:
# !data/processed/curated/
# !data/processed/curated/**
# !data/processed/small_example.csv

# (Optional) common large/binary formats (CSV stays allowed)
*.parquet
*.feather
*.h5
*.zip
*.7z
*.tar
*.tar.gz
*.csv.gz
